@{
    ViewData["Title"] = "Home Page";
    Layout = "_MainLayout";
}

<!-- Promo Section -->
<section class="duik-promo bg-primary">
    <div class="container duik-promo-container">
        <div class="d-flex position-relative mh-25rem pt-11 py-6">
            <div class="align-self-center">
                <h1 class="text-white font-weight-light mb-3">Can I upgrade my plan at any time?</h1>

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-light">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Article</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <!-- SVG BG -->
    <svg class="position-absolute bottom-0 left-0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 323" enable-background="new 0 0 1920 323" xml:space="preserve">
    <polygon fill="#ffffff" style="fill-opacity: .05;" points="-0.5,322.5 -0.5,121.5 658.3,212.3 "></polygon>
    <polygon fill="#ffffff" style="fill-opacity: .1;" points="-2,323 1920,323 1920,-1 "></polygon>
    </svg>
    <!-- End SVG BG -->
</section>
<!-- End Promo Section -->

<main>
    <div class="container py-10">
        <div class="row">
            <div class="col-lg-8 mb-11 mb-lg-4 pr-lg-6">
                <div class="media align-items-center mb-4">
                    <div class="rounded-circle mr-3">
                        <img class="img-fluid rounded-circle" src="assets/img-temp/100x100/img1.jpg" alt="Image Description" width="50">
                    </div>

                    <div class="media-body">
                        <a class="text-dark" href="#">Harry Brown</a>
                        <small class="d-block text-muted">HS Ninja</small>
                    </div>
                </div>
                <p>Localhost - Using a localhost server is extremely vital in any HTML template, as it boosts the page load. For this reason, any template or website might work slowly or may not even work at all without localhost. Like in the case of the Master sliders and the Revolution Sliders. Opening Docs UI Kit in localhost server should not give you any problems.</p>

                <p>In computer networking, localhost is a hostname that means this computer. It is used to access the network services that are running on the host via its loopback network interface. Using the loopback interface bypasses any local network interface hardware.</p>

                <div class="duik-callout duik-callout-warning p-4 my-5" role="alert">
                    <strong>Bonus.</strong> Sketch is small bonus that has some of the theme. Docs UI Kit's Sketch file comes with all demo pages design only. Docs UI Kit is not only for developers but also for designers.
                </div>

                <p>The local loopback mechanism is useful for testing software during development, independently of any networking configurations. For example, if a computer has been configured to provide a website, directing a locally running web browser to <a href="#">http://localhost</a> may display its home page.</p>

                <pre>
                <code class="language-html" data-lang="html">
              &lt;!-- CSS Implementing Plugins --&gt;
              &lt;link rel="stylesheet" href="assets/vendor/font-awesome/css/fontawesome-all.min.css"&gt;

              &lt;!-- CSS Docs UI Kit Template --&gt;
              &lt;link rel="stylesheet" href="assets/css/theme.css"&gt;
            </code>
          </pre>

                <p>Just so you know, Ajax also does not work without a localhost server. The whole point of Ajax request is to fetch data from one of these computers, which has to be listening in for specific network packages.</p>

                <!-- Resolved -->
                <div class="text-center border-top mt-6 pt-6">
                    <h4 class="h6 mb-4">Was this article helpful?</h4>

                    <button type="button" class="btn btn-sm btn-outline-primary mx-1"><i class="fa fa-thumbs-up mr-1"></i> Yes, thanks!</button>
                    <button type="button" class="btn btn-sm btn-outline-primary mx-1"><i class="fa fa-thumbs-down mr-1"></i> Not really</button>
                </div>
            </div>
            <!-- End Resolved -->

            <div class="col-lg-4 mb-4">
                <div class="card p-3 border-0 shadow">
                    <div class="card-header pb-0">
                        <h4 class="h5 mb-3">Related Questions</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-line mb-0">
                            <li class="mb-3"><a class="link-muted" href="#">Guarantee?</a></li>
                            <li class="mb-3"><a class="link-muted" href="#">Do you have any built-in caching?</a></li>
                            <li class="mb-3"><a class="link-muted" href="#">Can I add/upgrade my plan at any time?</a></li>
                            <li class="mb-3"><a class="link-muted" href="#">What access comes with my hosting plan?</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Go to Top -->
<a class="js-go-to duik-go-to" href="javascript:;">
    <span class="fa fa-arrow-up duik-go-to__inner"></span>
</a>
<!-- End Go to Top -->
<!-- JS Global Compulsory -->
<script src="~/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
<script src="~/assets/vendor/popper.js/dist/umd/popper.min.js"></script>
<script src="~/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- JS Implementing Plugins -->
<script src="~/assets/vendor/sticky-sidebar/dist/sticky-sidebar.min.js"></script>

<!-- JS -->
<script src="~/assets/js/main.js"></script>
<script src="~/assets/js/sticky-sidebar.js"></script>

